@import "@fontsource-variable/geist";

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

:root {
  --levitica-primary: #006947;
  --levitica-secondary: #5f7e6c;
  --levitica-tertiary: #914440;
  --levitica-neutral: #f6f6ff;
  --levitica-ink: #44534a;
  --levitica-soft: #edf1ee;
  --levitica-line: #d7ddd8;

  font-family: "Geist Variable", "Segoe UI", sans-serif;
  color: #44534a;
  background-color: #f6f6ff;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

@layer base {
  :root {
    --background: 240 100% 99%;
    --foreground: 137 10% 30%;
    --card: 0 0% 100%;
    --card-foreground: 137 10% 30%;
    --popover: 0 0% 100%;
    --popover-foreground: 137 10% 30%;
    --primary: 160 100% 21%;
    --primary-foreground: 0 0% 100%;
    --secondary: 135 14% 43%;
    --secondary-foreground: 0 0% 100%;
    --muted: 135 14% 93%;
    --muted-foreground: 137 10% 40%;
    --accent: 8 39% 41%;
    --accent-foreground: 0 0% 100%;
    --destructive: 8 67% 47%;
    --destructive-foreground: 0 0% 100%;
    --border: 135 13% 86%;
    --input: 135 13% 86%;
    --ring: 160 100% 21%;
    --radius: 1rem;
  }

  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}
